* {
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.user-card {
    margin: 0 auto;
    width: 100%;
    border: 4px solid #16A2B8;
    padding-bottom: 25px;
}

.card-header {
    background-color: #16A2B8;
    height: 100px;
    padding-top: 100px;
    padding-left: 50px;
    margin-bottom: 125px;
}

.card-header img {
    height: 200px;
    width: auto;
    border: 4px solid #CCCCCC;
    border-radius: 50%;
}

.card-body {
    margin-left: 25px;
    font-family: sans-serif;
}

.card-body h1, .card-body div, .card-body p {
    margin-bottom: 10px;
}

.card-body img {
    height: 25px;
    margin-right: 10px;
    width: auto;
}

.col-1 {
    flex: 1;
    padding: 25px;
    width: 100%;
    height: 900px;
    /* background-color: orange; */
}

.col-2 {
    flex: 2;
    padding: 25px;
    width: 100%;
    height: 900px;
    /* background-color: bisque; */
}